.board{
    width: 150px;
    margin-left: 20px;
    background-image: url('assets/leaderboard2.png');
}
.board2{
    width: 150px;
    margin-left: 10px;
    background-image: url('assets/leaderboard2.png');
}